<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <div class="ml-auto order-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Elenco Materie
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-target="#elaborazione" data-toggle="collapse" routerLink='elaborazione'>Elaborazione dati</a>
            <a class="dropdown-item" data-target="#statistica" data-toggle="collapse" routerLink='statistica'>Statistica</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-target="#applet" data-toggle="collapse" routerLink='applet'>Applet</a>
          </div>
        </li>
      </ul>
    </div>

  </div>

</nav>
