<app-menu></app-menu>
<div class="container">
  <div class="row justify-content-center">
    <img src="./../assets/logo.svg" alt="" id="logo">
  </div>

  <form>
    <div class="input-group">
      <input type="text" class="form-control" name="cerca" placeholder="Cosa vuoi cercare?" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2">Cerca</button>
      </div>
    </div>
  </form>
  <ul id="results">

  </ul>

<router-outlet></router-outlet>


<div>
  <img class="fixed-bottom" src="./../assets/backgroung_home.svg" id="img">
</div>
</div>
